@charset "utf-8";
/* CSS Document */


img.menu {
	resize:vertical;
	
	
}

li {
	align-content: center
	
}
footer {
	text-align:left;
}
a {
	color:#D16893;
	text-decoration: none;
}
ul {
	list-style: none;
}